:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';
  --text-weight: 400;
  --title-weight: 700;
  --main-width: min(100%, 696px);
  --main-color: #000;
  --background-color: #fff;
  --main-font-size: 18px;
  --main-line-height: 21px;
}